:root {
  --theme-color-blue: rgb(0, 102, 197);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  background-color: var(--theme-color-blue);
  color: white;
  padding: 10px 20px;
  text-align: center;
  box-shadow: 0 3px 5px rgba(128, 128, 128, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  nav {
    flex-direction: column;
  }
}

.github-link {
  background: linear-gradient(to bottom, rgb(63, 63, 63), rgb(37, 37, 37));
  color: white;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 5px;
}

.github-link:active {
  transform: scale(0.95);
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul a {
  text-decoration: none;
  color: white;
  padding: 0 1vw;
}

nav ul a:hover {
  color: black;
}

main p {
  width: 800px;
  max-width: 100%;
  padding: 20px;
  padding-bottom: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 13px;
  color: rgb(83, 83, 83);
}

main h1 {
  color: var(--theme-color-blue);
  padding: 20px;
  margin: 0 50px;
  text-align: center;
  border-bottom: 1px solid rgb(230, 230, 230);
}

fieldset {
  width: 800px;
  max-width: calc(100vw - 20px);
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 10px;
  background-color: rgb(248, 248, 248);
  box-shadow: 0 1px 1px rgb(223, 223, 223), 0 2px 3px rgb(173, 173, 173);
}

fieldset legend label {
  cursor: pointer;
  font-size: 20px;
}

fieldset legend label:hover {
  color: var(--theme-color-blue);
}

fieldset input[type="text"] {
  width: 100%;
  padding: 5px;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 3px;
}

fieldset input[type="text"]:focus {
  border: 1px solid var(--theme-color-blue);
  outline: 0;
}

fieldset small {
  margin-bottom: 10px;
  font-size: 11px;
  color: rgb(90, 90, 90);
}

.badge {
  background-color: gray;
  color: white;
  padding: 0 20px;
  border-radius: 10px;
}

.badge.success {
  background-color: rgb(43, 182, 43);
}

.badge.error {
  background-color: tomato;
}

.click-event-button {
  cursor: pointer;
  margin: 5px;
  border: 0;
  background: linear-gradient(
    to bottom,
    var(--theme-color-blue),
    rgb(0, 51, 99)
  );
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
}

.click-event-button:active {
  transform: scale(0.95);
}
